body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.active {
  font-weight: bold;
}

.active > div {
  color: #fff;
  border-color: transparent transparent #34c9b5 transparent !important;
}

.nav a > div > label {
  margin-top: 9px;
  cursor: pointer;
  padding: 0px 5px;
}

.nav a > div {
  width: auto;
  height: 0;
  border-style: solid;
  border-width: 0px 15px 35px 15px;
  border-color: transparent transparent transparent transparent;
  border-radius: 3px;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.nav a > div:hover {
  color: #fff;
  cursor: pointer;
  border-style: solid;
  border-width: 0px 15px 35px 15px;
  border-color: transparent transparent #34c9b5 transparent;
  border-radius: 3px;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}

.nav div {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  max-width: 650px;
  margin: 0 auto;
}

.nav li:first-child {
  padding-left: 0;
}

.nav-avatar {
  height: 30px;
  border-radius: 30px;
  margin-left: 15px;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.login-header {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 450px;
  padding: 15px;
}

.login-header > div {
  font-weight: normal;
  font-size: 15px;
  padding: 5px;
}

.login-form {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #34c9b5;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  width: 100%;
  max-width: 450px;
  padding: 15px;
}

.logo {
  height: 180px;
  width: 180px;
}

.login-user-dropdown {
  margin-top: 15px;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
}

.sing-in-btn {
  padding: 7px;
  border: 1px solid #34c9b5;
  color: #fff;
  cursor: pointer;
  background: #34c9b5;
  width: 450px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
}

.sing-in-btn:hover {
  outline: 0;
  background: #249989;
  border: 1px solid #249989;
}

.sing-in-btn:focus {
  outline: 0;
}

.submit-ans-btn {
  padding: 5px;
  border: 1px solid #34c9b5;
  color: #fff;
  cursor: pointer;
  background: #34c9b5;
  font-size: 14px;
  width: 300px;
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
}

.submit-ans-btn:hover {
  outline: 0;
  background: #249989;
  border: 1px solid #249989;
}

.submit-ans-btn:focus {
  outline: 0;
}

.view-poll-btn {
  padding: 5px;
  border: 1px solid #34c9b5;
  color: #34c9b5;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  width: 300px;
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
}

.view-poll-btn:focus {
  outline: 0;
}

.question-list-button:hover {
  background: #f3f3f3;
  text-decoration: none;
  outline: 0;
}

.question-list-selected-button {
  color: #34c9b5;
  background: #e6e4e4;
  outline: 0;
  border: none;
  font-size: 14px;
  width: 225px;
  position: relative;
  border-radius: 3px;
  padding: 8px;
  font-weight: bold;
}

.question-list-button {
  border: none;
  color: #000000;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
  width: 225px;
  position: relative;
  border-radius: 3px;
  padding: 8px;
  font-weight: bold;
}

.radio-div {
  color: #000000;
  font-size: 13px;
  padding: 5px;
}

.radio-button-label {
  position: relative;
  top: -3px;
  left: 10px;
}

input[type="radio"]:after {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #dad7d7;
}

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #34c9b5;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #34c9b5;
}

.center {
  text-align: center;
}

.add-question {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  padding: 10px;
  padding-top: 15px;
  font-weight: bold;
}

.add-question p {
  font-size: 17px;
}

.add-question span {
  font-size: 22px;
  padding-top: 10px;
}

.text-field {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 10px;
  width: 428px;
  margin-top: 15px;
  margin-bottom: 15px;
}

::placeholder {
  color: #dad7d7;
  opacity: 1;
}

.text-field-separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
  line-height: 0.1px;
  margin: 10px 0 10px;
}

.text-field-separator span {
  background-color: #fff;
  padding: 0 10px;
  font-size: 14px;
}

.add-question-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  padding: 10px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question-list {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-author {
  font-weight: bold;
  background-color: #f3f3f3;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dad7d7;
  padding-left: 10px;
}

.result-avatar {
  height: 100px;
  border-radius: 50px;
  margin: 10px;
  margin-top: 94px;
}

.result-info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dad7d7;
  padding-left: 12px;
  font-size: 17px;
  font-weight: bold;
}

.selected-result {
  border: 1px solid #34c9b5;
  background: #e6fffc;
  border-radius: 3px;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  margin-top: 15px;
  width: 220px;
}

.selected-result > div:first-child {
  color: #34c9b5;
}

.your-vote {
  background-color: #f5d443;
  width: 42px;
  height: 33px;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  padding-top: 3px;
  position: absolute;
  z-index: 10;
  margin-left: 215px;
  margin-top: -50px;
}

.unselected-result {
  border: 1px solid #dad7d7;
  background-color: #f3f3f3;
  border-radius: 3px;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 15px;
  margin-top: 10px;
  width: 220px;
}

.progress-div {
  background-color: #dad7d7;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.progress {
  background-color: #34c9b5;
  height: 25px;
  border-radius: 3px;
  color: #fff;
  text-align: end;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}

.question-info > div > div {
  color: #8a8989;
  font-size: 10px;
  padding: 5px;
}

.leader {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 35px 35px;
  border-color: transparent transparent transparent #ebebeb;
  position: absolute;
  margin: -10px 0 0 -10px;
}

.leader-info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dad7d7;
  padding-left: 12px;
  font-size: 17px;
  font-weight: bold;
  width: 200px;
}

.leader-questions {
  font-size: 13px;
  margin-top: 20px;
}

.leader-score {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dad7d7;
  padding-left: 12px;
  font-size: 17px;
  font-weight: bold;
  width: 80px;
  text-align: center;
}

.leader-score > div {
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.leader-score > div:first-child {
  background-color: #f3f3f3;
  font-size: 13px;
  padding: 10px;
  display: flex;
  padding-left: 20px;
}

.score {
  background-color: #34c9b5;
  height: 40px;
  border-radius: 20px;
  width: 40px;
  color: white;
  display: inline-block;
  margin-top: 11px;
}

.trophy-icon {
  position: absolute;
  margin-left: -33px;
  margin-top: 3px;
  height: 12px;
}
